<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeCommentSearcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light px-4">
      <a class="navbar-brand" href="<%= comments_path %>" style="font-color: red;">Youtube Comment Searcher</a>
      <% if user_signed_in? %>
        <div><%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
